<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
            <h1>Lista de personas</h1>
            <div class="container">
                <% personas.forEach(element => { %>
                    <div class="row">
                        <div class="col-md-4 mt-4">
                            <%= element.nombre %>
                        </div>
                        <div class="col-md-4 mt-4">
                            <%= element.email %>
                        </div>
                        <div class="col-md-4 mt-4">
                            <a class="btn btn-primary" href="/edit/<%= element.id %>" role="button">Editar</a>
                            <a class="btn btn-primary" href="/delete/<%= element.id %>" role="button">Borrar</a>
                        </div>
                    </div>
                    <% }) %>

            </div>


            <ul>

            </ul>
    </body>

</html>
